name: bytes
description: "Test app for bytes storage and transfer."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  get_it: ^9.2.0

  crypto: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0

  build_runner: ^2.4.11

  mobx_codegen: ^2.6.1


flutter:


  uses-material-design: true
